/* 
    Document   : mobile
    Created on : 12/03/2013, 20:19:16
    Author     : atila
    Description:
        Purpose of the stylesheet follows.
*/

.badge-palestra {
   background-color: #3a87ad !important;
   cursor: default;
}