@charset "utf-8";

.fl_left{
   float: left;
}

.fl_right{
   float: right;
}

.cl_left{
   clear: left;
}

.cl_right{
   clear: right;
}

#principal{
   margin: 0 auto;
   width: 927px;
   display: table;
   clear: both;
   background-image: url(../imagens/layout/topo_sige.png);
   padding-top: 140px;
   background-repeat: no-repeat;

}

#corpo{
   background-image:url(../imagens/layout/bg_corpo_sige.png);
   background-repeat:no-repeat;
   margin-top: 13px;
}

#corpo a{
   font-size: 11pt;
   color: #F48533;
}

#conteudo{
   padding: 27px;
}

#info_usu{
   float:right;
   font-size: 14px;
   margin-right: 17px;
}

#info_usu span{
   color: #f48533;
   font-weight: bold;
}

#info_usu .apelido{
   font-weight: normal;
   color: #359324;
   text-decoration: none;
}

#info_usu .apelido:hover {
   text-decoration-color: #359324 !important;
}

.header3:nth-of-type(1) {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header3-orange {
    border-color: orange !important;
}

/*MENU*/
#menu {
   background-color: #FFFFFF;
   width: 100%;
   height: 43px;
   margin-bottom: 20px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 -2px 0 rgba(0,0,0,.08);
   box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 -2px 0 rgba(0,0,0,.08);
   -moz-box-shadow: 0 2px 2px rgba(0,0,0,.05), inset 0 -2px 0 rgba(0,0,0,.08);
   border: 1px solid #c4c4c4;

   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}

.inativo {
   background-color: #f0f0f0 !important;
}

#menu a {
   height: 100%;
   float: left;
   line-height: 45px;
   text-align: center;
   color: #555555;
   padding: 0 18px;
}

#menu a, #menu img {
   text-decoration: none;
   border: none;
}

#menu a.active, #menu a:hover {
   color: #555555;
   text-decoration: none;
   background-color: #e5e5e5;
   -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
   -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
   box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

/*FIM MENU*/

/*RODAPE*/
#rodape {
   background-image:url("../imagens/layout/bg_rodape_sige.png");
   height:69px;
   width:927px;
   margin-top: 44px;
}

#rodape div {
   padding: 0px 33px;
}

#rodape p {
   font-size: 9px;
   color:white;
   text-align: center;
   margin: 21px 18%;
}

#rodape img {
   padding: 9px;
}
/*FIM RODAPE*/

/*a {cursor: pointer;}
a.no-bottom {text-decoration: none}
a.no-bottom:hover {border-bottom: 1px solid}*/

/*fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}*/

div.header3 {
   font-size: 12.5pt;
   font-weight: bold;
   padding-left: 25px;
   padding-top: 8px;
   padding-bottom: 8px;
   color: #444;
}

/*ul.unstyled {
   list-style: none;
   margin-left: 0;
}

ul.unstyled li {
   padding: 5px 0;
}*/

.form-errors ul {
   list-style: none;
   color: #a94442;
   margin-top: 5px;
}

ul.parsley-errors-list {
   list-style: none;
   color: #a94442;
   margin-top: 5px;
}

#master-container {
    min-height: 512px;
}

/* Set the fixed height of the footer here */
footer {
	background-color:#494949;
    color:#ddd;
    min-height:200px;
    padding-top:20px;
    padding-bottom:40px;
    margin-top:50px;
}

footer h4 {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
}

footer .nav>li>a {
    padding:3px;
    color:#ccc;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}
