@charset "utf-8";
/* CSS Document */
html{	
	background-image:url(../imagens/layout/topo_sige.png);
	background-repeat:no-repeat;
	margin-top: 20px;
}
.fl_left{
	float: left;
	}
.fl_right{
	float: right;
	}
.cl_left{
	clear: left;
	}
.cl_right{
	clear: right;
	}
body{
	font-family:  Arial,Helvetica,sans-serif;
	
}
#principal{
	margin: 137px 0 0 37px;
	width:927px;
	display:table;
/**	margin-bottom:10px;
	margin-top:100px;**/
	clear:both;
		
}
#corpo{
	background-image:url(../imagens/layout/bg_corpo_sige.png);
	background-repeat:no-repeat;
	margin-top: 13px;
}
	#corpo a{
		font-size: 11pt;
		color: #f48533;
			
	}
	
#conteudo{
	padding: 27px;
}

#info_usu{
	float:right;
	font-size: 14px;
	margin-right: 17px;
}

#info_usu span{
   color: #f48533;	
   font-weight: bold;
}

#info_usu .apelido{
   font-weight: normal;
   color: #359324;
   text-decoration: none;
}

#socialist a {
   color: white;
}

/*MENU*/
#menu{
	background-color: #450e3d;
	width: 100%;
	-moz-border-radius:5px 5px 5px 5px;
	height: 43px;
	margin-bottom: 20px;
}
.inativo{
	background-color: #f0f0f0 !important;
}
	#menu a{
		height: 100%;
		float: left;
	}
	#menu a,#menu img{
		text-decoration: none;
		border: none;
	}
	#menu img{
		padding: 0 28px;
	}
	#menu a.verde{
		-moz-border-radius:5px 5px 5px 5px;
		background-color: #359324;
	}
	#menu a:hover{
		background-color: #359324;
		-moz-border-radius:5px 5px 5px 5px;
	}
/*FIM MENU*/

/*RODAPE*/
#rodape {
	background-image:url("../imagens/layout/bg_rodape_sige.png");
	height:69px;
	width:927px;
	margin-top: 44px;
}
	#rodape div {
		padding: 0px 33px;
	}
	#rodape p {
		font-size: 9px;
		color:white;
		text-align: center;
		margin: 21px 18%;
	}
	#rodape img {
		
		padding: 9px;
	}
/*FIM RODAPE*/

/* mensagens de erro - tmp */
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;font-size: 10pt;margin-top: 20px;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}
.error h4, .alert h4, .notice h4, .success h4, .info h4 {height: 10px; font-size: 11pt;}

a {cursor: pointer;}
a.no-bottom {text-decoration: none}

fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}